@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start Form login  */
.login {
  width: 50%;
  text-align: center;
}
form {
  padding: 25px;
  margin: auto;
  width: 50%;
  position: relative;
}
span {
  color: #525252;
}
.social-login {
  width: 80%;
  margin: auto;
  position: relative;
}
.google-icon {
  position: absolute;
  top: 31%;
  left: 36%;
}
.facebook-icon {
  position: absolute;
  top: 68%;
  left: 36%;
}

input[type="text"],
input[type="password"] {
  background-color: #f0edff;
}
.button {
  border: 2px solid #f0edff;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: "Poppins";
}
.icon-social {
  width: 30px;
  font-size: 25px;
}
input,
button {
  height: 52px;
  border-radius: 16px;
  width: 364px;
  margin-bottom: 20px;
  border: none;
  padding-left: 45px;
}
.icon-user {
  position: absolute;
  top: 16%;
  left: 12%;
}
.icon-locked {
  position: absolute;
  left: 12%;
  top: 43%;
}
::placeholder {
  color: #000;
}

input[type="submit"] {
  padding: 15px 8px;
  width: 125px;
  color: #fff;
  background-image: linear-gradient(to left, #5038ed, #9181f4);
  border: none;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
}

/* End Form login */

/* start illustrate */
.login-illustrate {
  width: 50%;
  background-image: url(assets/bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur {
  border-radius: 46px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(8px);
  height: 524px;
  width: 412px;
  position: relative;
  color: #fff;
}
h2 {
  width: 50%;
  padding: 20px;
}
img {
  position: absolute;
  right: -115px;
  bottom: 0;
}
.container-light {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  left: -35px;
}
.light-img {
  position: relative;
}
.light-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end illustrate */
